* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: flex-direction 0.3s ease-in-out, width 0.3s ease-in-out;
}

:root {
    --color-background: hsl(212, 45%, 89%);
    --color-primary: hsl(218, 44%, 22%);
    --color-secondary: hsl(216, 15%, 48%);
    --spacing-200: 16px;
    --spacing-300: 24;
    --spacing-500: 40;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: var(--color-background);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    transition: padding 0.3s ease-in-out;
}

.card {
    background: #fff;
    padding: var(--spacing-200, 16px);
    gap: var(--spacing-300, 24px);
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgb(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    max-width: 600px;

    transition: flex-direction 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* Imagen */
.card-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

/* Contenido */
.card-content {
    padding: 32px var(--spacing-200, 16px);
}

.card-title {
    margin: 0 0 8px;
    font-size: 1.5rem;
    color: var(--color-primary);

    /* text-align: justify; */
    text-align: center;

    font-family: 'Outfit';
    font-weight: 700;

    transition: font-size 0.3s ease-in-out;
}

.card-description {

    text-align: center;
    margin: 0;
    color: var(--color-secondary);
    font-size: 1rem;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .card {
        flex-direction: row;
        /* Cambia a dos columnas */
    }

    .card-image {
        flex: 1;
        /* Imagen ocupa una parte */
    }

    .card-content {
        flex: 2;
        /* Contenido ocupa más espacio */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
    }

    .card-title {
        font-size: 2rem;
        /* Texto más grande en desktop */
    }

    .card-description {
        font-size: 1.125rem;

    }
}


/* Estilos para orientación horizontal en dispositivos móviles */
@media (orientation: landscape) {
    main {
        padding: 0 var(--spacing-300);
    }

    .card {
        flex-direction: row;
        width: 100%;
        max-width: 90%;
    }

    .card-image {
        flex: 1;
    }

    .card-content {
        flex: 2;
        padding: var(--spacing-300);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 1.75rem;
    }

    .card-description {
        font-size: 1.125rem;
    }
}